<div>
  <section>
    <mat-form-field appearance="fill" class="token">
      <input matInput type="text" placeholder="Create new todo..." [(ngModel)]="newTodoTitle" (keyup)="handleKeyUp($event)">
    </mat-form-field>
  </section>
</div>

<div class='container'>
  <div class='child'>
    <div>
      <p>Active</p>
    </div>

    <div>
      <table>
        <tbody>
          <tr *ngFor="let todo of todoList">
            <td *ngIf="todo.completed == false">{{todo.title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='child'>
    <div>
      <p>Complete</p>
    </div>

    <div>
      <table>
        <tbody>
          <tr *ngFor="let todo of todoList">
            <td *ngIf="todo.completed == true">{{todo.title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
