<div>
  <section>
    <mat-form-field appearance="fill" class="token">
      <input matInput type="text" placeholder="Create new todo..." [(ngModel)]="newTodoTitle" (keyup)="onKeyUp($event)">
    </mat-form-field>
  </section>
</div>

<div class='container'>
  <div class='child'>
    <div>
      <p>Active</p>
    </div>

    <div>
      <table>
        <tbody>
          <tr *ngFor="let todo of todoList">
            <ng-container *ngIf="todo.completed == false">
              <td><mat-checkbox [(ngModel)]="todo.completed" (ngModelChange)="onModelChanged($event)">{{todo.title}}</mat-checkbox></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='child'>
    <div>
      <p>Complete</p>
    </div>

    <div>
      <table>
        <tbody>
          <tr *ngFor="let todo of todoList">
            <ng-container *ngIf="todo.completed == true">
              <td><mat-checkbox [(ngModel)]="todo.completed" (ngModelChange)="onModelChanged($event)">{{todo.title}}</mat-checkbox></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
